@font-face{
	font-family: Minecraft-Regular;
	src:url(fonts/f77-minecraft-font/F77MinecraftRegular-0VYv.ttf);
}
@font-face{
	font-family: Minecraftia;
	src:url(fonts/minecraftia.ttf);
}

html{
	font-family: Minecraftia, arial, verdana;
	background-color:rgb(40, 40, 40);
	background-image: url(misc/deepslate.png);
	background-repeat: repeat;
	color:white;
	font-size:1.5em;
}

h1{
	font-size:2em;
	line-height: 1.5em;
}
h4{
	font-size:1em;
	line-height: 1.5em;
}
iframe{
	float:center;
	border-radius: 20px;
}
video{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	border-radius: 10px;
}
footer{
	color:white;
	font-size: 0.7em;
	text-align:center;
	margin-top:100px;
	text-decoration: none;
}
a{
	color: white;
}

#back_button{
	margin-left: 20px;
	position: fixed;
	top: 50px;
}
#titulo_center{
	text-align:center;
}
.descarga{
	margin-top: 40px;
}