@font-face{
	font-family: Minecraft-Regular;
	src:url(fonts/Minecraftia-Regular.ttf);
}

html{
	font-family: Minecraft-Regular, arial, verdana;
	background-color:rgb(40, 40, 40);
	background-image: url(misc/deepslate.png);
	background-repeat: repeat;
	color:white;
	font-size:1.5em;
}

h1{
	font-size:40px
}
h4{
	font-size:0.8em;
}
iframe{
	float:center;
	border-radius: 20px;
}
video{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	border-radius: 10px;
}
footer{
	color:white;
	font-size: 0.7em;
	text-align:center;
	margin-top:100px;
}

#back_button{
	margin-left: 20px;
	position: absolute;
}
#titulo_center{
	text-align:center;
}
