html{
	font-family: sans-serif, arial, verdana;
}
main{
	margin-left:20px;
	margin-right:20px;
}
header{
	background-color:lemonchiffon;
	padding:10px;
	margin-bottom:100px;
	text-align: center;
}
h1{
	font-size: 50px;
}
.logos{
	display:flex;
	justify-content:space-evenly;
	/*border:1px solid black;*/
	text-align:center;
	position:relative;
	padding:10px;
	isolation:isolate;
	overflow:visible;
}
.logos::after{
	content:'';
	position:absolute;
	z-index:-1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:ghostwhite;
	opacity:0.4;
}
#undertale{
	border-radius: 10px;
}
#titulo_center{
	text-align:center;
	color:white;
	font-size:25px;
}
body{
	background-image:url(misc/fondo.png);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
}