@font-face{
	font-family: Determination-Sans;
	src:url(fonts/det-sans.ttf);
}
@font-face{
	font-family: Minecraft-Ten;
	src:url(fonts/minecraft-ten.ttf);
}
@font-face{
	font-family: Minecraft-Five;
	src:url(fonts/minecraft-five.ttf);
}
@font-face{
	font-family: Minecraft-Seven;
	src:url(fonts/minecraft-seven.otf);
}
html{
	font-family: Determination-Sans, arial, verdana;
	font-size:20px;
	background-color: black;
	background-image:url(misc/fondo.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header{
	color: white;
	font-size: 1.5em;
	margin-top: 50px;
	text-align: center;
	text-shadow: 3px 3px black;
}
main{
	margin-left:20px;
	margin-right:20px;
}
iframe{
	border-radius: 20px;
	margin-top: 40px;
}
video{
	width:100%;
	object-fit:contain;
	border-radius: 10px;
}
footer{
	margin-top: 100px;
	color:white;
	text-align:center;
	font-size: 2vw;
	text-shadow: 2px 2px black;
}

/* _______ AJUSTES DE CLASES ________ */

#cabecero{
	margin: 50px;
	width: 64%;
	display: inline-flex;
}
.section_title{
	font-family: Minecraft-Five;
	text-align:center;
	color:white;
	font-size: 4vw;
	font-variant: small-caps;
	text-shadow: 3px 3px black;
	margin-bottom: 20px;
}
.section_subtitle{
	text-align:center;
	color:black;
	font-size: 70px;
	font-variant: small-caps;
	margin-bottom: 0px;
	margin-top: 40px;
}
.container{
	position:relative;
	padding:10px;
	isolation:isolate;
	overflow:visible;
}
.container::after{
	content:'';
	position:absolute;
	z-index:-1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:ghostwhite;
	opacity: 0.7;
	border-radius: 30px;
}
.contents{
	width:100%;
	/*object-fit:contain;*/
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
	object-fit: scale-down;
	min-width: 20%;
	column-gap: 50px;
	row-gap: 50px;
	padding-bottom: 40px;
	padding-top: 0px;
}
.vertical-center {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align:center;
	justify-content: center;
	margin-top: 40px;
  }

/* ____ SECCION DE MINECRAFT ____*/
#serie_verano{
	font-size: 50px;
	align-items: flex-end;
	padding-bottom: 10%;
}
#serie_verano img{
	height: 150px;
	width: auto;
}
#mundo_eterno{
	font-size: 40px;
	align-items: flex-end;
	padding-top: 50px;
	padding-bottom: 10%;
}
#mundo_eterno img{
	height: 200px;
	width: auto;
}
#miscelanea{
	font-size: 40px;
	align-items: flex-end;
}

/* ____ SECCION DE UNDERTALE ____*/
#undertale{
	display:block;
	text-align:center;
	font-size: 50px;
}
#undertale video{
	height: 250px;
}
