@font-face{
	font-family: Minecraft;
	src:url(fonts/minecraft-seven.otf);
}
@font-face{
	font-family: Mineten;
	src:url(fonts/minecraft-ten.ttf);
}
@keyframes pan {
	0% {
		background-position: 0% 0em;
	}
	100% {
		background-position: 200% 100em;
	}
}


#eternalia{
    background-image: url(https://minecraft.wiki/images/BlockSprite_pale-oak-log.png?87409);
}

html{
	font-family: Minecraft, arial, verdana;
	background-color:rgb(40, 40, 40);
	background-repeat: repeat;
	background-size: 100px;
	image-rendering: pixelated;
	color: white;
	font-size:1.5em;
	animation-name: pan;
	animation-duration: 180s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	margin-top: 50px;
}

body{
	margin: 0;
	padding: 0;
	
}

.container{
	display: flex;
	align-items: center;
}

.bloque{
	display: flex;
	align-items: center;
	max-width: 100%;
	justify-content: space-between;
	padding: 50px;
	gap: 40px;
}

.invertido{
	flex-direction: row-reverse;
}
.centro{
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.texto {
    flex: 0 0 500px;
    background-color: #000000;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
	background-image: url(https://minecraft.wiki/images/BlockSprite_pale-oak-log.png?87409);
	background-repeat:no-repeat;
	background-size: 100%;
}
.imagen{
	flex: 1;
}

h1{
	font-size:2em;
	line-height: 1.5em;
}
h2{
	font-family: Mineten;
	font-size: 2em;
	line-height: 10px;
	text-shadow: 5px 5px rgb(56, 56, 56);
}
h4{
	font-size:1em;
	line-height: 1.5em;
}
iframe{
	float:center;
	border-radius: 20px;
}
video{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	border-radius: 10px;
}
footer{
	color: white;
	font-size: 20px;
	text-align:center;
	margin-top:100px;
	text-decoration: none;
}
a{
	color: fuchsia;
}

#back_button{
	margin-left: 20px;
	position: fixed;
	top: 50px;
	z-index: 1;
}
#titulo_center{
	text-align:center;
}
.descarga{
	margin-top: 40px;
}

@media (max-width: 768px) {
    .bloque {
        flex-direction: column;
    }

    .invertido {
        flex-direction: column;
    }
}