html{
	font-family: sans-serif, arial, verdana;
}
main{
	margin-left:20px;
	margin-right:20px;
}
header{
	background-color:lemonchiffon;
	padding:10px;
	margin-bottom:100px;
	text-align: center;
	border-radius: 10px;
}
h1{
	font-size: 50px;
}
.logos{
	position:relative;
	padding:10px;
	isolation:isolate;
	overflow:visible;
}
.logos::after{
	content:'';
	position:absolute;
	z-index:-1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:ghostwhite;
	opacity: 0.4;
	border-radius: 10px;
}
.logo_minecraft{
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-evenly;
	text-align:center;
}
#undertale{
	border-radius: 10px;
}
#titulo_center{
	text-align:center;
	color:white;
	font-size:25px;
}
body{
	background-image:url(misc/fondo.png);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
}
.ut_serie{
	display:block;
	margin-bottom: 20px;
	text-align: center;
}
iframe{
	border-radius: 20px;
}
.ut_descarga{
	width:100%;
	object-fit:contain;
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-evenly;
	text-align:center;
}
video{
	width:100%;
	object-fit:contain;
}